.guests-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
  background: #082f613d;
  border-radius: 5px;
  padding: 2px;
}
.guest-bl {
  background: rgb(250, 250, 254);
  border-radius: 5px;
  min-height: 30px;
  position: relative;
  overflow: hidden;
  .bg {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    .bgg {
      display: inline-block;
      width: 14.2857%;
      height: 100%;
      display: none;
    }
    &.l1 .bg0 {
      display: inline-block;
    }
    &.l2 .bg1 {
      display: inline-block;
    }
    &.l3 .bg2 {
      display: inline-block;
    }
    &.l4 .bg3 {
      display: inline-block;
    }
    &.l5 .bg4 {
      display: inline-block;
    }
    &.l6 .bg5 {
      display: inline-block;
    }
    &.l7 .bg6 {
      display: inline-block;
    }
    .bg0 {
      background: var(--color-level-0);
    }
    .bg1 {
      background: var(--color-level-1);
    }
    .bg2 {
      background: var(--color-level-2);
    }
    .bg3 {
      background: var(--color-level-3);
    }
    .bg4 {
      background: var(--color-level-4);
    }
    .bg5 {
      background: var(--color-level-5);
    }
    .bg6 {
      background: var(--color-level-6);
    }
  }
  .body {
    position: relative;
    z-index: 1;
    height: 100%;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
  }
  .cookie-string {
    position: absolute;
    right: 185px;
    top: 5px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    span {
      --w: 5px;
      width: var(--w);
      height: var(--w);
      border-radius: 50%;
      background: #ebebeb;
      &.ok {
        background: #00b702;
      }
    }
  }
  .btn-delete {
    position: absolute;
    right: 1px;
    top: 14px;
  }
  .btn-gear {
    position: absolute;
    bottom: 0;
    left: 44px;
  }
  .id {
    font-size: 12px;
    color: rgba(0, 0, 50, 0.5);
    position: absolute;
    right: 10px;
    top: 2px;
    .withName {
      font-size: 16px;
      color: #c93101;
      font-weight: bold;
    }
  }
  .company-string {
    position: absolute;
    font-size: 11px;
    color: #5ab372;
    right: 11px;
    top: 19px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .comp-name {
      display: inline-block;
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .adset-name {
      display: inline-block;
    }
    .ad-name {
      display: inline-block;
      color: #5ab372;
    }
  }
  .params-string {
    position: absolute;
    font-size: 11px;
    color: #5ab372;
    right: 11px;
    top: 19px;
    max-width: 510px;
    right: 0;
    top: 1px;
    color: #ff5500;
  }
  .create-time,
  .last-change,
  .duration {
    font-size: 11px;
    color: #9db6a0;
    position: absolute;
    left: 8px;
    top: 5px;
  }
  .last-change {
    top: 19px;
  }
  .duration {
    top: 5px;
    color: #970909;
    left: 37px;
    width: 34px;
    text-align: right;
    z-index: 100;
    background: #fff;
    border-radius: 3px;
  }
  .events-bl {
    border-radius: 5px;
    padding: 0px 196px 0 65px;
    margin: 8px;

    .event {
      display: inline-block;
      background: rgba(124, 124, 124, 0.231372549);
      border-radius: 5px;
      font-size: 12px;
      height: 3px;
      position: relative;
      margin: 0 0 0 2px;
      // min-width: 7px;
      &.scale {
        background: #b0b0f9;
      }
      &.ex-scale {
        background: #a643af;
      }
      i {
        font-size: 10px;
        color: #00b7037e;
      }
      span {
        --w: 8px;
        display: block;
        width: var(--w);
        height: var(--w);
        border-radius: 50%;
        background: #00b702;
        position: absolute;
        right: -7px;
        color: #fff;
        text-align: center;
        font-size: 9px;
        top: -2px;
        z-index: 10;
      }
      &.goalBtnClick {
        span {
          --w: 18px;
          width: var(--w);
          height: var(--w);
          background: #ffffff;
          top: -8px;
          border: 4px solid #ff0000;
          border-radius: 5px;
        }
      }
      &.page-out {
        span {
          background: #f785e8;
        }
        .time {
          position: absolute;
          color: #000;
          font-size: 10px;
          right: -19px;
          font-style: normal;
          top: -10px;
          z-index: 200;
          background: #ffffff;
          border-radius: 3px;
          padding: 1px;
          line-height: 6px;
        }
      }
      &.page-in {
        // margin: 0 0 0 12px;
        span {
          background: rgb(7, 108, 190);
        }
        .page-name,
        .time {
          background: none;
          width: auto;
          left: 0;
          top: -12px;
          border-radius: 3px;
          font-size: 9px;
          display: inline-block;
          color: #000;
          right: auto;
        }
        .time {
          left: -25px;
          background: #fff;
        }
      }
      &.show-page {
        span {
          background: rgb(221, 126, 2);
        }
      }
    }
  }
}
