<div class="bg"></div>
<div class="body">
  <div class="name"></div>
  <div class="tg-user-name"></div>
  <div class="create-time"></div>
  <div class="last-change"></div>
  <div class="time-duration"></div>
  <div class="company-string">Строка о компании</div>
  <div class="cookie-string">fbp fbc</div>
  <div class="time-line-block"></div>

  <button class="btn sml-btn btn-delete"></button>
  <button class="btn sml-btn btn-info-circle"></button>
  <button class="btn sml-btn btn-gear"></button>
</div>
