<div class="input-block">
  <label>Имя</label>
  <input type="text" class="guest-name" />
</div>
<div class="group-bl">
  <div class="title">Телеграм</div>
  <div class="input-block">
    <label>Ник</label>
    <input type="text" class="guest-tg-username" />
  </div>
  <div class="input-block">
    <label>ID</label>
    <input type="text" class="guest-tg-id" />
  </div>
  <div class="input-block">
    <label>Имя</label>
    <input type="text" class="guest-tg-first_name" />
  </div>
  <div class="input-block">
    <label>Фамилия</label>
    <input type="text" class="guest-tg-last_name" />
  </div>
</div>
<div class="group-bl">
  <select class="company"></select>
</div>

<button type="button" class="btn-big">Сохранить</button>
