c-tabs {
    display: flex;

    .tab {
        --bg-color: #b2dae4;
        padding: 5px 10px;
        background: var(--bg-color);
        cursor: pointer;
        border-radius: 8px 8px 0 0;
        font-size: 13px;
        color: #1b695f;
        margin: 3px 0 0 4px;

        &.off {
            background: #bbbbbb;

        }

        &:hover {
            filter: brightness(0.85); // темнее
            color: #003647;
        }

        &.active {
            filter: saturate(2) brightness(1);
            color: #003647;
            font-weight: bold;
        }
    }
}