.page-main {
     display: grid;
     // grid-template-columns: 1fr 410px;

     c-guests-list {
          grid-column: 1;
     }

     c-chats {
          grid-column: 2;
     }
}

.projects-tabs-block {
     background-color: rgb(203 253 253 / 56%);
     border-bottom: 2px solid #b2dae4;
     // margin-bottom: 6px;
}

.company-tabs-block {
     background-color: rgba(76, 97, 128, 0.664);
     border-bottom: 2px solid #566785;
     margin-bottom: 6px;

     .tab {
          position: relative;
     }

     .company-name {
          float: right;
          font-size: 12px;
          width: 100%;
          text-align: right;
          position: absolute;
          top: 0px;
          right: 0px;
          font-size: 9px;

          span {
               background: rgba(255, 255, 255, 0.486);
               border-radius: 6px;
               padding: 0 2px;
          }
     }
}

.view-type-tabs-block {

     .view-type-tabs {
          margin: 0px 5px;
          gap: 5px;
     }

     .tab {
          border-radius: 7px;
          font-size: 13px;
          margin: 0;
          padding: 2px 11px;
          height: min-content;
     }
}

.viewports-block {
     padding: 10px;

     .viewport {
          display: none;
     }

}