.page-main {
     display: grid;
     // grid-template-columns: 1fr 410px;

     c-guests-main {
          grid-column: 1;
     }

     c-chats {
          grid-column: 2;
     }
}

.projects-tabs-block {
     background-color: rgb(203 253 253 / 56%);
     border-bottom: 2px solid #b2dae4;
     // margin-bottom: 6px;
}

.company-tabs-block {
     background-color: rgba(76, 97, 128, 0.664);
     border-bottom: 2px solid #566785;
     margin-bottom: 6px;

     .company-name {
          float: right;
          font-size: 12px;
          width: 100%;
          text-align: right;

          span {
               text-align: right;
               background: rgba(255, 255, 255, 0.3333333333);
               padding: 0 2px;
               border-radius: 4px;
          }
     }
}