c-chats {
     width: 400px;
     margin: 3px;
     position: fixed;
     bottom: 3px;
     right: 3px;
     z-index: 10;



     .messages-bl {
          border-radius: 7px;
          border: 1px solid rgba(90, 148, 181, 0.3215686275);
          background: rgba(235, 253, 255, 0.4901960784);
          overflow: auto;
          min-height: 200px;

          padding: 5px
     }

     .user-name {
          padding: 3px 10px;
          font-size: 14px;
          font-weight: bold;
          color: rgba(0, 134, 158, 0.4941176471);
          background: #ffffffc2;
          border-radius: 6px;
     }

     .input-div {
          padding: 6px;
          border-radius: 5px;
          border: 1px solid rgba(90, 148, 181, 0.3215686275);
          background: rgba(255, 255, 255, 0.7607843137);
     }

     .message {
          display: flex;



          .body {
               padding: 4px 33px 4px 8px;
               border-radius: 8px;
               background: #fff;
               position: relative;
               margin: 0 0px 5px 0;
          }

          .time {
               font-size: 10px;
               color: #888;
               padding: 3px;
               border-radius: 5px;
               /* background: #f1f1f1; */
               position: absolute;
               bottom: -2px;
               right: 1px;
          }

          &.out {
               justify-content: flex-end;

               .body {
                    background: rgba(135, 217, 165, 0.368627451);
                    margin-left: 20px;
               }
          }

          &.in {
               justify-content: flex-start;

               .body {
                    background: rgba(144, 215, 244, 0.2588235294);
                    margin-right: 20px;
               }
          }

     }


}