.meditation {  
  .cont {
    padding: 0 ;
  }
  section { 
    padding: 10px 15px 15px;
  }
  .bl-00 {
    padding: 0 15px 15px;
    margin: 0;
  }
  
  p {
    margin: 0 0 4px;
    text-indent: 10px;
  }
  h3 {
    margin: 5px 0 5px;
    padding: 0;
  }

  .bl-01 {
    background: rgba(155, 218, 255, 0.247) url('@assets/uzor.svg') no-repeat top center;
        background-size: 745px, cover;

    background-position: right -72px center, 0 0;
    background-repeat: no-repeat;
  }
  .location {
        background: #91ffdc40;
    a {
      background-image: url('@/assets/ico-point.svg');
      background-repeat: no-repeat;
      background-position: center left 12px;
      background-size: 40px 44px;
      text-decoration: none;
      display: flex;
      height: 46px;
      align-items: center;
      padding: 0 0 0 71px;
      font-size: 23px;
      margin: 5px 0;
      color: #c80a18;

    }
    .address {
      font-size: 17px;
      text-indent: 0;
      padding: 5px 10px;
    }
    .comment {
      font-size: 16px;
      text-indent: 0;
      padding: 10px;
      color: #032963;
    }
  }
  .litte-text {
    padding: 2px 0 5px;
  }
  .bl-03 {
    background: rgb(255 200 187) url('@assets/uzor-2.svg');
    background-size: 313px;
    background-position: right -72px center, 0 0;
  }
  
}
.time {
  color: rgba(221, 38, 6, 0.8);
  font-weight: 600;
  display: inline-block;
  width: 60px;
  background: #ffffff8f;
  border-radius: 10px;
}
.color-orange {
  color: #c80a18;
}


