button {
  font-family: 'Montserrat', sans-serif;
}
.btn {
     border: none;
     cursor: pointer;
     background: none;
    background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.sml-btn {
  --w: 16px;
  width: var(--w);
  height: var(--w);
  
}
.btn-delete {
  background-image: url('@/assets/ico-trash.svg');
  &:hover {
    background-image: url('@/assets/ico-trash-h.svg');
  }
}
.btn-clear {
  background-image: url('@/assets/ico-clear-events.svg');
  &:hover {
    background-image: url('@/assets/ico-clear-events-h.svg');
  }
}
.btn-gear {
  background-image: url('@/assets/ico-gear.svg');
  &:hover {
    background-image: url('@/assets/ico-gear-h.svg');
  }
}