@use "@styles/buttons";
@use "@styles/globalConst";
@use "@base/client/scss/breakpoints";

:root {
  line-height: 1.5;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkBlue: rgba(0, 46, 80, 0.95);
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@assets/fonts/montserrat-v31-cyrillic_latin-regular.woff2")
    format("woff2");
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("@assets/fonts/montserrat-v31-cyrillic_latin-italic.woff2")
    format("woff2");
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("@assets/fonts/montserrat-v31-cyrillic_latin-600.woff2")
    format("woff2");
}

/* Базовые настройки */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* обычный */
  line-height: 1.2;
  color: rgba(88, 21, 0, 0.8);
  font-size: 18px;
  min-height: 100vh;
  min-width: 320px;
  background: url("@/assets/bg.png");
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #273a81;
  &:visited {
    color: #69749b;
  }
}

.main-container {
  // max-width: 576px;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:
    url("@/assets/bg-circle.svg"),
    #f0fbff url("@/assets/bg-center.jpg") no-repeat top center;
  background-size: 1073px, cover;
  background-position:
    right -501px top -500px,
    0 0;
  background-repeat: no-repeat;
}
main {
  flex-grow: 1;
}
// footer {
//   flex-shrink: 0;
//   // background: rgba(187, 211, 227, 0.66);
//   font-size: 12px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 400px 0 0;
// }
header {
  flex-shrink: 0;
  a {
    color: #939393;
    text-decoration: none;
    &.active {
      color: #646cff;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
  }
  .logo {
    // background: url('@assets/i_home.svg') no-repeat center center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: inline-block;
  }
}

.user-list {
  a {
    color: var(--darkBlue);
  }
}
.ul-level {
  list-style-type: circle;
  padding: 0 0 0 25px;
  li {
    margin-bottom: 5px;
  }
  &.l2 {
    padding: 0 0 0 50px;
    font-size: 14px;
  }
}
.center-bl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  position: relative;
}
.home-page {
  .cont {
    margin: 100px 0 0;
  }
}

h1,
h2 {
  background: rgba(255, 68, 0, 0.7);
  margin: 0;
  color: #fff;
  padding: 8px 0;
  font-weight: 400;
  text-align: center;
  position: relative;
  line-height: 0.8;

  @include breakpoints.tablet {
    background: none;
    color: rgba(255, 68, 0, 0.75);
  }
}
h1 {
  font-size: 25px;

  @include breakpoints.tablet {
    font-size: 34px;
  }
}
h2 {
  font-size: 19px;
  padding: 0 7px 10px;
  position: relative;
  margin: 0 0 10px;
  line-height: 1;
}

.list-p {
  p {
    &:before {
      content: "🔸";
      display: inline-block;
      margin: 0 0 0 -5px;
    }
  }
}
.list-p2 {
  p {
    &:before {
      content: "🔹";
      display: inline-block;
      margin: 0 0 0 -5px;
    }
  }
}

.cont {
  padding: 0 20px 5px;
  @include breakpoints.tablet {
    padding: 0 50px 20px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  padding: 15px 0 10px;
  color: var(--darkBlue);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background: rgba(224, 243, 255, 0.6392156863); */
  padding: 9px;
  border-top: 4px solid #ffffff5e;
  margin: 200px 0 0;

  .container {
    background: #e9f7fd;
    padding: 10px 0 5px;
    color: #31556b;
    border-top: 1px solid #cce7ed;
  }
  a.anh {
    color: #148ad7;
    padding: 0 5px 20px;
    font-size: 17px;
    display: block;
    span {
      color: #000ba5;
    }
  }
}

a.bA {
  position: relative;
  display: block;
  height: 36px;
  width: 96%;
  background: rgba(255, 68, 0, 0.75);
  color: rgba(255, 255, 255, 0.9333333333);
  margin: 0 -20px 15px;
  font-size: 22px;
  padding: 4px 0 0 47px;
  transition: background 0.2s ease;
  max-width: 375px;
  box-sizing: content-box;
  line-height: 34px;

  &:hover {
    background: rgba(255, 68, 0, 1);

    &:before {
      left: 19px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    background-image: url("@/assets/str.png");
    width: 335px;
    height: 30px;
    transition: left 0.2s ease;
  }
  &.a2 {
    background: rgba(255, 118, 94, 0.49);
    color: rgba(105, 0, 0, 0.9);
    &:hover {
      background: rgba(255, 118, 94, 1);
    }
  }
  &.a3 {
    background: rgba(255, 255, 255, 0.91);
    color: rgba(105, 0, 0, 0.9);
    &:hover {
      background: rgba(255, 243, 243, 0.91);
    }
  }
  &.a4 {
    background: rgba(25, 131, 177, 0.91);
    color: rgba(255, 255, 255, 0.9);
    &:hover {
      background: rgba(25, 131, 177, 1);
    }
  }
  &.a5 {
    background: rgba(66, 154, 197, 0.91);
    color: rgba(255, 255, 255, 0.9);
    &:hover {
      background: rgba(25, 131, 177, 1);
    }
  }
  &.a6 {
    background: rgba(90, 165, 198, 0.91);
    color: rgba(255, 255, 255, 0.9);
    &:hover {
      background: rgba(25, 131, 177, 1);
    }
  }
  &.ex1 {
    line-height: 20px;
    margin-top: 8px;
    height: 44px;

    span {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  &.ex2 {
    margin-top: 8px;
    font-size: 24px;
  }
  &.ex3 {
    font-size: 23px;
    line-height: 20px;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
.ico-telegram {
  --w: 30px;
  --h: 32px;
  background-image: url("@assets/ico-tg2.svg");
  background-size: var(--w) var(--h);
  background-position: 0 center;
  background-repeat: no-repeat;
  width: var(--w);
  height: var(--h);
  display: inline-block;
}
.ico-instagram {
  --w: 30px;
  --h: 32px;
  background-image: url("@assets/ico-insta2.svg");
  background-size: var(--w) var(--h);
  background-position: 0 center;
  background-repeat: no-repeat;
  width: var(--w);
  height: var(--h);
  display: inline-block;
}
