c-guests-main {
  .guests-list {
    display: flex;
    flex-direction: column;
    gap: 1px;

    border-radius: 5px;
    padding: 2px;
  }

  .menu-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .md-btn {
    width: 100%;
    height: 20px;
    border-radius: 4px;
    padding: 2px 6px;

    .desc {
      font-size: 12px;
      color: #000b;
      padding: 0 0 0 10px;
    }

    &:hover {
      font-weight: bold;
    }

    &:disabled,
    &[disabled] {
      pointer-events: none;
      background: none;
    }
  }

  .day-line {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    padding: 0 0 0 10px;
    gap: 2px;



    .count-col {
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.11);
      padding: 2px 0px;
      color: #0e355f;
      background: #fff;
      width: 20px;
      text-align: center;

      &.empty {
        opacity: 0.8;
      }

      &.l-0 {
        background: var(--color-level-0);
      }

      &.l-1 {
        background: var(--color-level-1);
      }

      &.l-2 {
        background: var(--color-level-2);
      }

      &.l-3 {
        background: var(--color-level-3);
      }

      &.l-4 {
        background: var(--color-level-4);
      }

      &.l-5 {
        background: var(--color-level-5);
      }

      &.l-6 {
        background: var(--color-level-6);
      }
    }

    .bl-0 {
      width: 65px;
      background-color: rgba(1, 84, 133, 0.6235294118);
      padding: 5px 10px;
      border-radius: 6px;
      margin: 0 10px 0 0;
    }



    .day-name {
      font-size: 11px;
      color: rgb(135 220 225);
      padding: 0 0 0 6px;
    }
  }

  .level-1 {
    background: var(--color-level-0);
  }

  .level-2 {
    background: var(--color-level-1);
  }

  .level-3 {
    background: var(--color-level-2);
  }

  .level-4 {
    background: var(--color-level-3);
  }

  .level-5 {
    background: var(--color-level-4);
  }

  .level-6 {
    background: var(--color-level-5);
  }

  .level-7 {
    background: var(--color-level-6);
  }
}