<div class="guests-main">
     <div class="header">
          <div class="options-block">
               <div class="left-panel">
                    <c-guests-filters-bl></c-guests-filters-bl>
                    <c-check-box class="options-showTimeLine" data-label="показывать тайм-лайн"
                         data-store-key="guests-show-timeline" data-checked="true"></c-check-box>
               </div>
               <div class="right-panel">
                    <c-menu-for-WT></c-menu-for-WT>
               </div>

          </div>
          <h1></h1>
     </div>
     <div class="body">
          <div class="guests-list">
          </div>
     </div>
</div>